/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  line-height: 1.5;

}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove table border spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default form styling */
input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Remove default styles for images */
img {
  max-width: 100%;
  height: auto;
}
